:root {
  --page-background: #222629;
  --table-background: #474b4f;
  --table-row-selected: #6b6e70;
  --table-header-background: #61892f;
  --misc: #86c232;
  --highlight: #C97BF4;
  --white: #FFF;
  --black: #000;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: var(--page-background);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse:collapse;
}

.player-frame {
  background: var(--table-background);
  color: var(--white);
  border: 0px solid var(--table-header-background);
  float: left;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
}

.player-frame-title {
  background: var(--table-header-background);
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
}

.player-frame-value {
  background: var(--table-row-selected);
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 18px;
}

.decklist {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  margin-left: 5px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
}

.full-options-header {
  background: var(--table-row-selected);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
  width: 100%;
}

.table-header {
  background: var(--table-header-background);
  border: var(--table-header-background);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.header-cell {
  padding-left: 10px;
  padding-right: 10px;
}

.selection-cell {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: center;
}

.padded {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.card:hover {
  background: var(--table-row-selected);
}

.card-highlight {
  background: var(--highlight);
}

.deck-entry {
  background-color: var(--background-color);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.deck-entry:hover {
  background: var(--table-row-selected);
}

.dropdown {
  color: var(--white);
  background: var(--table-row-selected);
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border: 0px;
  min-width: 100px;
  min-height: 70px;
  float: left;
}

.dropdown-header {
  color: var(--white);
  background: var(--table-row-selected);
  text-align: center;
  padding: 0px;
  border: 0px;
  width: 100%;
}

.dropdown-header-side-by-side{
  color: var(--white);
  background: var(--table-row-selected);
  text-align: center;
  padding: 5px;
  border: 0px;
  float: left;
  min-width: 50%;
}

.numeric-input{
  color: var(--white);
  padding: 2px;
  margin-left: 10px;
  width: 50px;
  background: var(--table-background);
}

.text-input{
  color: var(--white);
  padding: 2px;
  margin-left: 10px;
  width: 150px;
  background: var(--table-background);
}

.date-selector {
  color: var(--white);
  background: var(--table-row-selected);
  text-align: center;
  padding: 20px;
  border: 0px;
  float: left;
  width: 250px;
}

.select-option {
  color: var(--white);
  background: var(--table-background);
}

.widget-scroll {
  vertical-align: top;
  max-height: 700px;
  overflow:auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.widget-scroll::-webkit-scrollbar {
  display: none;
}

.house-for-widgets {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
}

.deck-view {
  padding-top: 0px;
  padding-left: 5px;
}

.filtered-decks {
  width: 500px;
  overflow: auto;
  max-height: 1200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filtered-decks::-webkit-scrollbar {
  display: none;
}

.widget-table {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
  width: 100%;
}

.widget-table-row {
  background: var(--table-background);
  color: var(--white);
  border: none;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
}

.widget-table-row:hover {
  background: var(--table-row-selected);
}

.deck-meta-table {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: left;
  min-width: 200px;
  width: 100%;
}

.tooltip{
  left: 300%;
}

.tooltip-trigger .tooltip::after{
    content: " ";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--black) transparent transparent;
}

.tooltip-trigger {
  position: relative;
  display: inline;
}

.tooltip-trigger .tooltip{
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  z-index: 100;
}

.tooltip-trigger:hover .tooltip {
    opacity:1;
}
