:root {
  --page-background: #222629;
  --table-background: #474b4f;
  --table-row-selected: #6b6e70;
  --table-header-background: #61892f;
  --misc: #86c232;
  --misc-2: #068220;
  --highlight: #C97BF4;
  --highlight-2: #C97BF444;
  --white: #FFF;
  --black: #000;
}

* {
  box-sizing: border-box;
}

html a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

html body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: var(--page-background);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse:collapse;
}

.player-frame {
  background: var(--table-background);
  color: var(--white);
  border: 0px solid var(--table-header-background);
  width: 400px;
  float: left;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  padding: 0px;
  text-align: center;
}

.player-frame-title {
  background: var(--table-header-background);
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  width: 40%;
}

.player-frame-title-2 {
  background: var(--misc-2);
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  width: 40%;
}


.player-frame-value {
  background: var(--table-row-selected);
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 18px;
}

.decklist-wrapper {
  background: var(--table-background);
  min-height: 600px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.decklist {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  padding: 0px;
  text-align: center;
  width: 400px;
}

.decklist-description {
  background: var(--table-background);
  margin-left: 5px;
  padding: 15px;
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  padding: 0px;
  text-align: left;
  width: 800px;
  height: 100%;
}

.full-options-header {
  background: var(--table-row-selected);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
  width: 100%;
}

.table-header {
  background: var(--table-header-background);
  border: var(--table-header-background);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  align: center;
  text-align: center;

  /* Keep table header at the top even when scrolling */
  position: sticky;
  top: 0;
}

.header-cell {
  padding-left: 5px;
  padding-right: 5px;
}

.selection-cell {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: center;
}

.padded {
  padding-left: 5px;
  padding-right: 5px;
}

.card-highlight {
  background: var(--highlight);
}
.card-highlight:hover {
  background: var(--table-row-selected);
}
.card-playable-highlight {
  background: var(--highlight-2);
}
.card-playable-highlight:hover {
  background: var(--table-row-selected);
}

.button {
}

.button-selected {
  background: var(--misc);
}

.deck-entry {
  background-color: var(--background-color);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.deck-entry:hover {
  background: var(--table-row-selected);
}

.selectorbar {
  padding: 15px;
  background: var(--table-row-selected);
  width: 100%;
}

.dropdown {
  color: var(--white);
  background: var(--table-row-selected);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 0px;
  min-width: 100px;
  float: left;
}

.dropdown-header {
  background: var(--table-row-selected);
  color: var(--white);
  text-align: center;
  padding: 0px;
  border: 0px;
  width: 100%;
}

.dropdown-header-side-by-side{
  color: var(--white);
  background: var(--table-row-selected);
  text-align: center;
  padding: 5px;
  border: 0px;
  float: left;
  min-width: 50%;
}

.numeric-input{
  color: var(--white);
  padding: 0px;
  margin-left: 10px;
  width: 50px;
  background: var(--table-background);
}

.text-input{
  color: var(--white);
  padding: 2px;
  margin-left: 10px;
  width: 150px;
  background: var(--table-background);
}

.search-bar {
  color: var(--white);
  background: var(--table-background);
  text-align: left;
  padding: 5px;
  margin-left: 15px;
  border: 0px;
  width: 90%;
}

.search-bar-container {
  color: var(--white);
  background: var(--table-row-selected);
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 0px;
  width: 100%;
  float: left;
}


.date-selector {
  color: var(--white);
  background: var(--table-row-selected);
  text-align: center;
  padding: 20px;
  border: 0px;
  float: left;
  width: 250px;
}

.select-option {
  color: var(--white);
  background: var(--table-background);
}

.widget-scroll {
  vertical-align: top;
  max-height: 700px;
  overflow:auto;
}

.scroll-container-large {
  vertical-align: top;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  max-height: 70em;
  min-height: 70em;
  width: 75%;
}

.scroll-container-large-header {
  top: 0;
  position: sticky;
  background: var(--table-row-selected);
  color: var(--white);
  margin-right: auto;
  margin-left: auto;
  width: 75%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container-large::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.widget-scroll::-webkit-scrollbar {
  display: none;
}

.house-for-widgets {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
}

.flexhouse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-content: flex-start;
}

.cardimage {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 200px;
}

.cardimage-selected {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 200px;
  background: var(--highlight);
}

.deck-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-left: 5px;
  width: 100%;
}

.filtered-decks {
  width: 500px;
  overflow: auto;
  max-height: 1200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filtered-decks::-webkit-scrollbar {
  display: none;
}

.mana-symbol {
  vertical-align: middle;
  margin-right: 3px;
}

.draft-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-left: 0px;
  width: 100%;
}

.pack-view {
  width: 50%;
  padding-left: 5px;
}

/* The max width is dependant on the container (more info below) */
.popover{
    max-width: 500px ! important; /* Max Width of the popover (depending on the container!) */
}

.chart-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.chart{
  background: var(--table-background);
  color: var(--white);
  max-width: 75%;
  min-height: 600px;
}

.widget-table-header {
  top: 0;
  position: sticky;
  background: var(--table-row-selected);
  color: var(--white);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.widget-table {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
  width: 100%;
}

.widget-table-row {
  background: var(--table-background);
  color: var(--white);
  border: none;
  font-size: 18px;
  line-height: 34px;
  height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  text-align: center;
  min-width: 300px;
}

.widget-table-row:hover {
  background: var(--table-row-selected);
}

.deck-meta-table {
  background: var(--table-background);
  color: var(--white);
  border: none;
  float: left;
  font-size: 18px;
  line-height: 34px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: left;
  min-width: 200px;
  width: 100%;
}

.tooltip{
  left: 300%;
}

.tooltip-trigger .tooltip::after{
    content: " ";
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--black) transparent transparent;
}

.tooltip-trigger {
  position: relative;
  display: inline;
}

.tooltip-trigger .tooltip{
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  z-index: 100;
}

.tooltip-trigger:hover .tooltip {
    opacity:1;
}
